.head {
    text-align: center;
}

.profile {
  border-radius: 50%;
  display: ;
}

.background {
  display: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.info{
  font-display: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.contact{
  font-weight: bolder;
  font-size: 30px;
}


img {
  float: left;
}
