div.head {
    text-align: center;
}

.head {
  border-radius: 50%;
  display: center;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.background {
  display: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}